$dark-gray: #181818;
$light-gray: #4C5F7A;
$light-yellow: rgb(255, 255, 43);
$yellow-orange: #F6C90E;
$light-blue: #8b99e9;
$dark-blue: #253344;
$light-pink: rgb(240, 176, 190);
$broken-white: #e2e2e2; 

