%check-out-more-text {
  text-align: center;
  color: $heading-color;
  font-size: 1.6rem;
  margin-bottom: 1em;
}

%arrow {
  margin: 0 auto;
  position: relative;
  width: 50px;
  transform: rotate(90deg);
  animation-name: moving-arrow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  @keyframes moving-arrow {
    from {
      bottom: 0;
    }
    to {
      bottom: 1em;
    }
  }
}

%border {
  border: 2px solid $border-color;
}

.check-out-more {
  @extend %check-out-more-text;
}

.arrow {
  @extend %arrow;
}

main {
  width: 78%;
  position: relative;
  left: 11px;
}

section {
  height: 100vh;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome-heading-bg {
  background-image: url("Purple-Smoke-PNG-Background-Image.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.welcome-heading {
  width: 45%;
  min-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 5em;
  span {
    font-weight: bolder;
  }
}

.skills {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills-intro {
  width: 60%;
  min-width: 400px;
  max-width: 700px;
  margin: 0 auto;
}

.skills-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  flex-wrap: wrap;
  row-gap: 35px;
  column-gap: 35px;
}

.skills-items {
  border: 2px solid $border-color;
  padding: 1em;
  min-width: 200px;
}

.skills-lists {
  list-style: square;
  padding-left: 20px;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.experience {
  padding-top: 2em;
}

.experience-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 1000px;
}

.experience-item {
  background-color: $background-color-2;
  width: 45%;
  min-width: 270px;
  margin-bottom: 2px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid $border-color;
  display: flex;
  flex-direction: column;
  h3 {
    order: 1;
  }
  img {
    margin: 0 auto;
    order: 4;
    width: 80px;
    height: 80px;
  }
  .experience-item-info {
    order: 3;
  }
  .experience-item-date {
    order: 2;
    font-size: 0.8rem;
  }
}

.experience-item-italki img {
  height: 60px;
}

.experience-item-techgrounds img {
  width: 100px;
  height: 50px;
  padding-top: 1.3em;
}

.experience-item-teacher img {
  width: 100px;
  height: 50px;
}

.contact {
  fieldset {
    padding: 0;
  }
  .name input {
    width: 50%;
    padding: 0;
  }
  .mail input {
    width: 45%;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .skills-intro {
    width: 80%;
    margin: 0 auto;
    min-width: auto;
  }

  .skills-container {
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media (max-width: 767px) {
  .check-out-more {
    font-size: 1.2rem;
  }

  .arrow {
    z-index: -1;
  }

  main {
    width: 100%;
    margin-top: 50px;
    left: 0;
  }

  .welcome {
    height: 90vh;
  }

  .welcome-heading {
    min-width: 300px;
  }

  .skills-see-more {
    margin-top: 3em;
  }
}
