.box {
  margin: auto;
  width: 600px;
  height: 600px;
  background: linear-gradient(45deg, black, rgb(3, 194, 98))
}

.text {
  width: 300px;
  height: 300px;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1,
h2,
p {
  color: white;
  text-align: center;
  margin: 0;
  
}

h1 {
  font-size: 100px;
  font-family: sans-serif;
}

h2 {
  font-size: 73px;
  
}

p {
  font-size: 25px;
}