* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgba(29, 9, 211, 0.739);
}

.carousel-container {
  width: 1000px;
  margin: auto;
  height: 700px;
  overflow: hidden;
  position: relative;
}

.carousel-container:before,
.carousel-container:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 700px;
  z-index: 10;
  background: black;
  opacity: 0.3;
}

.carousel-container:after {
  right: 0;
  top: 0;
}

.icons-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-container {
  display: flex;
}

.slide-container img {
  width: 1000px;
  height: 700px; 
}

.arrow {
  display: inline-block;
  padding: 4px;
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  position: relative;
  z-index: 1000;
  cursor: pointer;
}

.arrow-left {
  transform: scale(4) rotate(135deg);
  -webkit-transform: scale(4) rotate(135deg);
  left: 50px;
}

.arrow-right {
  transform: scale(4) rotate(315deg);
  -webkit-transform: scale(4) rotate(315deg);
  right: 50px;
}

.btn-container {
  position: relative;
  width: 400px;
  margin: auto;
}

.btn-container:hover {
  background: green;
}

.btn-container:before,
.btn-container:after {
  position: absolute;
  content: "";
  background: red;
  height: 5px;
  width: 35px;
  top: 0;
  left: 0;
}

.btn-container:after {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
}

.api-button {
  width: 400px;
  padding: 20px 0;
  display: block;
  margin-top: 10px;
  background: rgb(253, 225, 132);
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.2rem;
  cursor: pointer;
}

.api-button:hover,
.api-button:hover {
  transition: 1s;
  background: red;
}

.api-button:before,
.api-button:after {
  position: absolute;
  content: "";
  background: red;
  height: 50%;
  width: 5px;
  top: 0;
  left: 0;
}

.api-button:after {
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}

.change-subject-container {
  width: 400px;
  margin: auto;
  margin-bottom: 50px;
}

.change-subject-input {
  width: 300px;
  border: none;
  background: rgb(253, 225, 132);
  padding: 20px 0;
  margin-top: 10px;
  font-size: 1.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  padding-left: 20px;
}

.change-subject-btn {
  width: 96px;
  border: none;
  background: rgb(253, 225, 132);
  padding: 20px 0;
  font-size: 1.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  cursor: pointer;
}

.change-subject-btn:hover {
  background: red;
}
